{% extends 'layout.html.twig' %}
{% block title %}M2M Circuit - Update Form{% endblock %}
{% block content %}
    <div class="banner">
        <h2>M2M Circuit</h2>
        <h3>Page Selection</h3>
    </div>

    <div class="buffer"></div>

    <div id="button-box">
        <a href='./status' class="button">Current circuit status</a>
        <a href='./messageboard' class="button">Recent SMS messages</a>
        <a href='./updateform' class="button">Update Switchboard</a>
    </div>

{% endblock %}
