{% extends 'layout.html.twig' %}
{% block title %}M2M Circuit - Update Form{% endblock %}
{% block content %}
    <h2>M2M Circuit</h2>
    <h3>Page Selection</h3>

    <ul>
        <li><a href='./status'>View current circuit status</a></li>
        <li><a href='./updateform'>Update current circuit status</a></li>
    </ul>


{% endblock %}
