{% extends 'layout.html.twig' %}
{% block title %}M2M Circuit - Status{% endblock %}
{% block content %}
    <h2>M2M Circuit</h2>
    <h3>Current status of components:</h3>
    <form method="post" class="updateform">
        <p>First Name</p>
        <input type="text" name="firstname">
        <p>Surname</p>
        <input type="text" name="surname">
        <p>Email</p>
        <input type="text" name="email">
        <p>Switch State</p>
        <input type="hidden" name="switch1" value="0">
        <input type="checkbox" name="switch1" value="1">
        <input type="hidden" name="switch2" value="0">
        <input type="checkbox" name="switch2" value="1">
        <input type="hidden" name="switch3" value="0">
        <input type="checkbox" name="switch3" value="1">
        <input type="hidden" name="switch4" value="0">
        <input type="checkbox" name="switch4" value="1"><br>
        <p>Fan Direction</p>
        <select name="fan">
            <option value="0" name="fan">Forward</option>
            <option value="1" name="fan">Reverse</option>
        </select><br>
        <p>Heater Temperature</p>
        <input type="number" name="temp"><br>
        <p>Keypad Number</p>
        <input type="number" name="keypad">
        <br>
        <br>
        <button type="submit" name="submit">Send</button>
        <br>
        <br>
    </form>




    <a href="./homepage">Back</a>
{% endblock %}